@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
  overflow-x: hidden;
}

.page-title {
  font-size: 32pt !important;
}

@keyframes fadeUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.notion-frame > .notion-scroller {
  transform: translateY(50px);
  opacity: 0;
  animation: 400ms ease fadeUp;
  animation-fill-mode: forwards;
}
